.empty-cart
  display table-cell
  verticle-align middle
  height 100%
  a 
    display block

.cart-listview
  margin -1em
  >li
    position relative
    height 110px
    width 100%
    margin-bottom 4px
    >div
      height 100%
      box-sizing border-box
      padding 20px 15px 15px 15px
      background #fff
      input
        display inline-block
        width 18px
        height 18px
        background url('../app/resources/icon/ch_focus.png') no-repeat
        background-size 18px 18px
        display inline-block
      img 
        width 77px
        height 77px
        
      .cart-wine-pic
        margin-left 18px
        vertical-align: middle
        border-radius 2px
.behind
  width 100%
  height 120px
  position absolute
  top 0
  right 0
  background red
  z-index -1
  a
    height 100%
    display table-cell
    line-height 120px
    vertical-align middle

.cont-right
  display inline-block 
  vertical-align middle
  padding-left 5px
  div 
    display inline-block
  .list-wine-title
    font-size .7em
  .list-wine-inventory
    font-size .7em
  .list-wine-price
    font-size .9em
  .list-wine-num
    font-size .9em

#choose-all
  margin-right 0.5em
#total
  display inline-block
.money-bar
  padding 0 15px 0 20px
  ul 
    
  div
    display inline-block
    height 100%
    line-height 52px
    vertical-align middle
#cart-all
  width: 18px;
  height: 18px;
  background: url("../app/resources/icon/ch_focus.png") no-repeat;
  background-size: 18px 18px;
  display: inline-block     
.cart-left
  height 100%
  span
    height 100%
    display inline-block
    line-height 50px
    vertical-align middle
    margin-left 3px
#cart-mid
  display inline-block
  height 100%
  margin-left 25%
  vertical-align middle
  li 
    line-height 16px
  .price 
    font-size 0.9em
    vertical-align middle
    padding-top 10px
  .mail-info
    font-size 0.5em
    vertical-align middle
.money-bar-right
  float right
  line-height 53px
  margin-right 29px
  
#checkout
  background #f5a623
  border-radius 5px
  height 34px
  min-width 80px
  border none
  line-height 34px
  vertical-align middle
  display inline-block
.common
  background-color #fff
  position absolute
  top 27%
  bottom 27%
  left 8%
  border-radius 5px
  padding 2em 3em
  header
    textalign center
  .neck-div
    display inline-block
  #wx-send-code
    display inline-block
