
$basic-color = #f7f0f0 // bg color
$module-bar-color = #a9a9a9 // module bar color
$buy-bnt-color = #f5a623
$module-bar = 42px //module bar height 
$common-red = #ff0000
$bar-color = red
$subtitle = #fff
$headline = #4f4f4f
$market-price = #ff2600
$old-price = #abaaab
$limit-goods = #5a5a5a
$bar-height = 50px
$bottom-height = 30px

$coupon-height = 100px
$coupon-dot = green

// detail.html 中轮播图下方介绍区原价现价的高度
$detail-bar-height = 45px
$shopping-bar = 50px

// mixins start
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments


// mixins end