.coupon-header
  heigth $bar-height
  background $bar-color

.coupon-wrap
  >ul
    list-style none
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
  li
    padding 10px 1%
  div
    display inline-block

.coupon-item
  height $coupon-height
  .coupon-option-wrap
    height 100px
    text-align center
    background red
    width 10%
    padding auto
    .outer-circle
      width 10%
      height 10%
      margin 40% auto
      background #aeefff
      border-radius 50%
      //padding 3px
    .inner-circle 
      background #19aedc
      width 50%
      margin auto 
      padding 0

  .coupon-img-wrap
    width 30%
    height 100px
    img
      width 100%
  .coupon-des-wrap
    height 100%
    background blue
    
    dl dd
      -webkit-margin-start: 0px
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
