.coupon-header
  heigth $bar-height
  background $bar-color

.coupon-wrap
  hr
    margin 0
  >ul
    list-style none
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
  li
    padding 10px 1%
  div
    display inline-block


.coupon-item
  position relative
  height $coupon-height

  .coupon-option-wrap

    position absolute
    background yellow
    width 10%
    margin 0
    left 1%
    top 0
    height 100%
    .outer-circle
      width 10%
      height 10%
      margin 40% auto
      background #aeefff
      border-radius 50%
    .inner-circle 
      background #19aedc
      width 50%
      margin auto 
      padding 0

  .coupon-img-wrap

    width 30%
    height 100px
    img
      width 100%
      margin-top 15px

  .coupon-des-wrap
    height 100%
    background blue
    
    dl dd
      -webkit-margin-start: 0px
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
