.wrap 
  position relative
  
.detail-wine-info
  margin-top 600px
  padding-bottom $shopping-bar+10
  z-index 10
  width 100%
  .inline-div
    display inline-block
    height $detail-bar-height
  .detail-headline-left
    background blue
    width 90%
    clear right
  .price-right
    background purple
    width 10%
    float right
    text-align right
  .other-attr
    background white
    p
      display inline-block
      -webkit-margin-before: 0em
      -webkit-margin-after: 0em
  .in-activity
    background purple
    margin-top 20px
    height 30px
    line-height 30px
    a
      cursor pointer
      text-decoration none
    span
      float right
  .shopping-bar
    background white
    position fixed
    height $shopping-bar
    width 100%
    left 0
    bottom 0
    z-index 2
    border-top 1px solid #eee
    .op-wrap
      button
        display inline-block
        margin-top 10px
        outline none
      .op 
        border 1px solid
        width 30px
        height 30px
      .buy-button
        background red
        border-radius 5px
        height 30px
        width 120px
    
.detail-wine-intro
  .intro-pic
    width 100%

#detail-basket
  width 4em
  height 5em
  background red
  position fixed
  bottom 100px
  right 20px
  z-index 10
#goods-num
  width 1em
  height 1em
  background #fff
  position absolute
  top -1em
  right -1em