.wrap
  position relative

.header
  height $bar-height
  background $bar-color

.unslider
  display visible
  img
    width 100%

.home-special-sell-wrap
  margin-top 300px
  padding 0 5%
  position relative

.module-item
  position absolute
  width 100%
  .module-bar
    height 30px
    background $bar-color
    a
      display inline-block
      line-height 30px
      vertical-align midlle
      height 30px
      width 100%
      img
        width 30px
        height 30px
        float left
      >span
        float left
        margin-left 40px
      &:nth-child(3)
        float:right
      span
        display inline-block
        height 30px
  .module-list-wrap
    position relative
    ul
      li
        position absolute
        display inline-block
        .wine-wrap
          display inline-block
          overflow hidden
          .div-up
            position relative
            .wine-detail
              display inline-block
            img
              ppsition absolute
            span
              position absolute
              display inline-block
            .mail-info
              left 0
              top 0
              background purple
              opacity 0.8
            .cnt-info
              top 0
              right 0
            .subtitle
              left 0
              bottom 0
              background #000
              opacity 0.5
              width 100%
              color #fff
            .wine-img
              display block   
.bottom
  height $bottom-height
  background $bar-color 
  position fixed
  left 0
  bottom 0
  width 100%   
  a
    display inline-block
    text-decoration none
  & a:nth-child(1) 
    width 33%
  & a:nth-child(2) 
    width 34%
  & a:nth-child(3) 
    width 31%
    



