.module-list-wrap 
  .wine-list-ul
  	padding 0 5%
    color #333 
  li
    display inline-block
    position absolute
    a
      display inline-block
      position relative
    .mail-info
      position absolute
      left 0
      top 0
      background #fff
    .cnt-info
      position absolute
      top 0
      right 0
  .wine-wrap
   	display inline-block

.div-up
  position relative

.subtitle
  position absolute
  width 100%
  left 0
  bottom 0
  opacity 0.5
  color #fff
  background #000
  height 20px
  overflow hidden
  
.cnt-info
  text-align center
  width 40px
  height 40px
  display inline-block
  border-radius 50%
  background #e83030
  opacity 0.8  
  font-size 0.8em
  color #fff 

.wine-wrap
  background #fff
  margin-top 20px 