.module-list-wrap 
  .wine-list-ul
  	padding 0 5%
  li
    display inline-block
    position absolute
    a
      display inline-block
      position relative
    .mail-info
      position absolute
      left 0
      top 0
      background #fff
    .cnt-info
      position absolute
      top 0
      right 0
  .wine-wrap
   	display inline-block