.po-bg-color
  background #fff
  padding 10px 15px
.order-header
  padding 0px 15px
  display flex
  font-size 0.8em
  justify-content space-between
  height 27px
  line-height 27px
  vertical-align middle
  margin-bottom 1px
  div
    display inline-block
  .pay-state
    margin-bottom 1px
    color #ff2600
.tips
  display block
  width 100%
  padding 0px 15px
  margin-bottom 7px
  box-sizing border-box
  padding-top 5px
  padding-bottom 5px
  font-size 0.9em
  
  .order-serial-num
    width 40%
  .order-time
    width 40%
  .pay-state
    width 15%
    text-align right

.person-info
  height 74px
  display flex
  justify-content space-between
  align-items center
  margin-bottom 7px

.info-left
  min-width 90%
.pl-or-arrow
  background red
  width 24px
  height 24px
  display inline-block
.nm-tel-wrap
  display flex
  justify-content space-between
.goods-header
  height 33px
  display flex
  justify-content space-between
.goods-info
  margin-bottom 7px
.order-listview
  width 100%
  ul
    li 
      height 72px
      
      border-bottom 1px solid #f7f7f7
      a 
        display flex
        height 100%
        width 100%
        
.po-pic-wrap
  max-width 80%
  display inline-block
  .price
    margin-right 10px
.po-wine-pic
  width 72px
  height 72px
  vertical-align middle
.po-title
  height 48px
  line-height 24px
#po-ask
  height 29px
  line-height 25px
  vertical-align middle
  border 1px solid #005aff
  background #fff
  border-radius 2px
  font-size 15px
  
// 待支付模式下
.margin-bottom7px
  margin-bottom 7px
.total-pay
  margin-bottom 0px
  display flex
  justify-content space-between
  div
    display inline-block
    height 30px
    vertical-align middle
    line-height 30px
    span 
      height 100%
      display inline-block
  #pay 
    background #e83030
    width 8em
    min-height 30px
    border-radius 2px
    border none
    font-size .8em
    color #fff
  .price-red 
    color #ef483e 
    font-size 1.2em
  .sum-money
    font-size 0.8em
.list 
  display flex
  justify-content space-between
.other-info-wrap
  background #fff
  hr 
    border 1px solid #f7f7f7
.pay-item-wrap
  height 32px
  display flex
  justify-content space-between
  .pay-name
    margin-left 35px
    display inline-block
    width 100px

.pay-bg-icon
  display inline-block
  width 26px
  height 26px
  background-repeat no-repeat
  background-size 26px 26px
  
.wx-icon
  background-image url('../app/resources/icon/wx.png')
.ali-icon
  background-image url('../app/resources/icon/ali.png')
.un-icon
  background-image url('../app/resources/icon/un.png')

.pay-m-wrap
  width 30px
  height 30px
.pay-section
  background #fff
  hr
    margin-left 35px
    border 1px solid #f7f7f7
.blow-header-hr
  border 1px solid #f7f7f7
.padding-left15
  padding 0px 15px
.pay-radio
  border-radius 50%
  width 30px
  height 30px
  display inline-block
  background-repeat no-repeat
  background-size 30px 30px
  outline none
.wx-ra
  background-image url('../app/resources/icon/ch_focus.png')
.ali-ra
  background-image url('../app/resources/icon/ch_blur.png')
.un-ra
  background-image url('../app/resources/icon/ch_blur.png')