*
  box-sizing border-box

@import '../node_modules/normalize-styl/normalize'
@import 'plugin-css/*.css'
@import 'styl/*'



body
  font: 1em Helvetica, Arial, sans-serif
  background-color $basic-color
  line-height 1.5
  color #333
.wrap
	ul
    -webkit-margin-after 0em
    -webkit-margin-start 0px
    -webkit-margin-end 0px
    -webkit-padding-start 0px
    -webkit-margin-before 0px
    list-style-type none
.modal-wrap
  background-color rgba(0,0,0,0.5)
  position absolute
  top 0
  bottom 0
  .common
    background-color #fff
    position absolute
    top 27%
    bottom 27%
    left 8%
    border-radius 5px