*
  box-sizing border-box

@import '../node_modules/normalize-styl/normalize'
@import 'plugin-css/*.css'
@import 'styl/*'



body
  font:12px Helvetica,Arial,sans-serif
  background-color $basic-color
  line-height 1.5
  color #333
.wrap
  overflow-x hidden
	ul
    -webkit-margin-after 0em
    -webkit-margin-start 0px
    -webkit-margin-end 0px
    -webkit-padding-start 0px
    -webkit-margin-before 0px
    list-style-type none
.modal-wrap
  background-color rgba(0,0,0,0.5)
  position absolute
  top 2000px
  bottom 0
  display none
  margin-bottom 13px
  .input-wrap
    height 38px
    display flex
  input 
    background transparent
    outline none
  .bd-r
    border-radius 5px
.modal-close
  position absolute
  width 3em
  height 3em
  font-size 1em
  top 0px
  right 0px
  background transparent
  border none
  z-index 3
h3
  margin 0
del
  color #abaaab
  
.sell-info
  width 100%
  display -webkit-flex
  display flex
  justify-content space-between
.limit-goods
  color #5a5a5a
  