
@media screen and (max-width:299px)
  html,body,textarea,input,button,select
    font-size 10px
@media screen and (min-width:300px) and (max-width:479px)
  html,body,textarea,input,button,select
    font-size 12px
@media screen and (min-width:480px) and (max-width:639px)
  html,body,textarea,input,button,select
    font-size 16px
@media screen and (min-width:640px) and (max-width:959px)
  html,body,textarea,input,button,select
    font-size 20px
@media screen and (min-width:960px) and (max-width:1279px)
  html,body,textarea,input,button,select
    font-size 24px
@media screen and (min-width:1280px) and (max-width:1599px)
  html,body,textarea,input,button,select
    font-size 28px
@media screen and (min-width:1600px) and (max-width:1919px)
  html,body,textarea,input,button,select
    font-size 32px
@media screen and (min-width:1920px)
  html,body,textarea,input,button,select
    font-size 36px
*
  box-sizing border-box

@import '../node_modules/normalize-styl/normalize'
@import 'plugin-css/*.css'
@import 'styl/*'



body
  font-family:Helvetica,Arial,sans-serif
  background-color $basic-color
  line-height 1.5
  color #333
.wrap
  overflow-x hidden
	ul
    -webkit-margin-after 0em
    -webkit-margin-start 0px
    -webkit-margin-end 0px
    -webkit-padding-start 0px
    -webkit-margin-before 0px
    list-style-type none
.modal-wrap
  background-color rgba(0,0,0,0.5)
  position absolute
  top 2000px
  bottom 0
  display none
  margin-bottom 13px
  .input-wrap
    height 38px
    display flex
  input 
    background transparent
    outline none
  .bd-r
    border-radius 5px
.modal-close
  position absolute
  width 3em
  height 3em
  font-size 1em
  top 0px
  right 0px
  background transparent
  border none
  z-index 3
h3
  margin 0
del
  color #abaaab
  
.sell-info
  width 100%
  display -webkit-flex
  display flex
  justify-content space-between
.limit-goods
  color #5a5a5a
  